.ExpensesList {
}

.ExpensesList__header {
  background: $black;
  padding: $xs-size $m-size;
  margin: $m-size 0;
  -webkit-box-shadow: $main-shadow;
  box-shadow: $main-shadow;

  h2 {
    color: $snow;
    font-size: $h3;
  }
}

.ExpensesList__content {
  margin: 1.5rem 0;
}
