.Header {
  background: $primary;
  color: $snow;
  padding: $m-size;
  margin-bottom: $s-size;
  -webkit-box-shadow: $main-shadow;
  box-shadow: $main-shadow;
}

.Header h1 {
  font-weight: 500;
  padding: 0 1.5rem;
  letter-spacing: 0.4rem;
}
