.GeneralInfo {
  margin-bottom: 5rem;
}

.GeneralInfo__header {
  background: #303030;
  padding: 0.7rem 1.5rem;
  margin: 1.5rem 0;
  -webkit-box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.5),
    inset 0px 0px 15px -9px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.5),
    inset 0px 0px 15px -9px rgba(0, 0, 0, 0.6);
}

.GeneralInfo__header h3 {
  color: white;
  font-size: 2rem;
}

.GeneralInfo__body {
  padding: 0 1.5rem;
  color: #919090;
}

.GeneralInfo__all-expen-amount {
  margin-bottom: 1.5rem;
}

.GeneralInfo__all-expen-amount span {
  color: black;
  font-weight: bold;
}

.GeneralInfo__curr-month-expen-amount {
  margin-bottom: 1.5rem;
}

.GeneralInfo__curr-month-expen-amount span {
  color: black;
  font-weight: bold;
}
