.GeneralInfo {
  margin-bottom: $l-size;
}

.GeneralInfo__header {
  background: $black;
  padding: $xs-size $m-size;
  margin: $m-size 0;
  -webkit-box-shadow: $main-shadow;
  box-shadow: $main-shadow;

  h3 {
    color: $snow;
    font-size: $h3;
  }
}

.GeneralInfo__body {
  padding: $m-size;
  background: lighten($light-grey, 13%);
  color: $black;
  font-size: $h4;
  color: darken($secondary, 10%);
}

.GeneralInfo__all-expen-amount {
  margin-bottom: 1.5rem;
}

.GeneralInfo__curr-month-expen-amount span,
.GeneralInfo__all-expen-amount span {
  color: lighten($black, 35%);
  font-weight: bold;
}
