.EditExpensePage__header {
  background: darken($secondary, 20%);
  padding: $m-size $m-size;
  margin: $l-size 0;
  -webkit-box-shadow: $main-shadow;
  box-shadow: $main-shadow;

  h2 {
    color: $snow;
    font-size: $h3;
  }
}
