.ExpensesListItem {
  margin-bottom: $s-size;
  -webkit-box-shadow: $main-shadow;
  box-shadow: $main-shadow;
  color: darken($light-grey, 100%);
}

.ExpensesListItem__header {
  padding: $xs-size $m-size;
  display: flex;
  justify-content: space-between;
  background: lighten($light-grey, 14%);
  border: 1px solid $light-grey;

  h3 {
    font-size: $h4;
    color: lighten($black, 30%);
  }

  button {
    background: none;
    border: none;
    padding: 0.2rem $xs-size;
    margin: 0;
    text-align: center;
    font-size: $h4;
    color: lighten($black, 30%);
  }

  button:active,
  button:focus {
    outline: none;
  }

  .fa-sort-up {
    transform: translate(0, 4px);
  }

  .fa-sort-down {
    transform: translate(0, -4px);
  }
}

.ExpensesListItem__body {
  padding: $m-size;
  color: darken($secondary, 20%);
}

.ExpenseListItem__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: $m-size;
}

.ExpenseListItem__createdAt {
  color: darken($light-grey, 20%);
}

.ExpenseListItem__note {
  margin-bottom: $m-size;
}

.ExpenseListItem__amount {
  font-size: $h3;
}

.ExpenseListItem__amount span,
.ExpenseListItem__note span {
  font-weight: 600;
  color: lighten($black, 10%);
}

.ExpenseListItem__action-buttons {
  display: flex;
  justify-content: flex-end;
}

.ExpenseListItem__action-buttons {
  button:hover {
    box-shadow: $btn-shadow-hover;
  }

  button:active {
    box-shadow: $btn-shadow-active;
    outline: none;
  }
}

.ExpenseListItem__delete-btn,
.ExpenseListItem__edit-btn {
  border: none;
  background: none;
  color: white;
  margin-left: 1.5rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.ExpenseListItem__delete-btn {
  background: red;
}

.ExpenseListItem__edit-btn {
  background: green;
}

.ExpenseListItem__edit-btn a {
  text-decoration: none;
  color: inherit;
}
