.AddExpenseBtn {
  width: 100%;
  padding: $m-size;
  text-transform: uppercase;
  background: blueviolet;
  color: $snow;
  font-size: $h4;
  border: none;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

.AddExpenseBtn:hover {
  box-shadow: $btn-shadow-hover;
}

.AddExpenseBtn:active {
  box-shadow: $btn-shadow-active;
}

.AddExpenseBtn:active,
.AddExpenseBtn:focus {
  outline: none;
}
